.app{
  width: 40%;
  margin: auto;
}
.app > h1{
  display: flex;
  justify-content: center;
}
.container{
  text-align: center;
}
.btn{
  width: 100px;
  height: 100px;
  font-size: 30px;
}
.row{
  display:flex;
  justify-content: center;
}
.play-btn{
  background-color: darkolivegreen;
  border: 0;
  height: 30px;
  border-radius: 5px;
  color: white;
}